In [1]:
import pandas as pd 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor as rf

In [2]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [3]:
train.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [4]:
# Obtain target and predictors
y = train.SalePrice
features = ['LotArea', 'YearBuilt', '1stFlrSF', '2ndFlrSF', 'FullBath', 'BedroomAbvGr', 'TotRmsAbvGrd']
X = train[features].copy()
X_test = test[features].copy()

In [5]:
x_train,x_test,y_train,y_test = train_test_split(X,y,train_size=0.8,random_state=42)

In [6]:
x_train.head()

,LotArea,YearBuilt,1stFlrSF,2ndFlrSF,FullBath,BedroomAbvGr,TotRmsAbvGrd
254,8400,1957,1314,0,1,3,5
1066,7837,1993,799,772,2,3,7
638,8777,1910,796,0,1,2,4
799,7200,1937,981,787,1,3,7
380,5000,1924,1026,665,2,3,6

In [7]:
model_1 = rf(n_estimators = 50, random_state=0)
model_2 = rf(n_estimators=100, random_state=0)
model_3 = rf(n_estimators=100, criterion='mae', random_state=0)
model_4 = rf(n_estimators=200, min_samples_split=20, random_state=0)
model_5 = rf(n_estimators=100, max_depth=7, random_state=0)

models = [model_1, model_2, model_3, model_4, model_5]

In [8]:
from sklearn.metrics import mean_absolute_error 
def score_model(model, X_t=x_train, X_v=x_test, y_t=y_train, y_v=y_test):
    model.fit(X_t, y_t)
    preds = model.predict(X_v)
    return mean_absolute_error(y_v, preds)

for i in range(0, len(models)):
    mae = score_model(models[i])
    print("Model %d MAE: %d" % (i+1, mae))

Model 1 MAE: 22325
Model 2 MAE: 22435
Model 3 MAE: 22666
Model 4 MAE: 22915
Model 5 MAE: 22901

In [9]:
best_model = model_3

In [10]:
my_model = best_model

In [11]:
my_model.fit(X,y)

RandomForestRegressor(criterion='mae', random_state=0)

In [12]:
pred = my_model.predict(x_test)
print(pred)

[148845.    324439.1   107355.86  148562.18  298515.9    77184.
 265176.32  146341.5    85649.    132789.    143080.5   126702.5
 100932.    216797.8   181499.32  124435.36  196102.    134226.58
 106673.6   227157.22  176731.    204081.85  176144.15  123808.5
 189700.79  164036.    191797.78  127092.5   178962.    207183.35
 118574.    271464.    212206.24  129835.01  265411.92  137750.87
 146252.5   218290.35  317702.19  108592.    114216.    220917.9
 123509.5   305783.43  128781.    132630.58  120173.5   124134.5
 439926.51  144501.5   118195.    192808.5   118967.54  272986.24
 145710.5   275115.03  201497.32  169140.64  118357.87  113378.5
  72079.22  150329.87  313215.63  268297.94  315639.19  215404.
 106924.5   302409.3   109836.    173469.    122852.56  138177.74
 112557.28   92953.93  556827.46  182132.06  328673.5   312495.
 140256.87  126414.6   101952.5    84105.8   123021.5    98121.
 154551.25  135345.84  259093.    198672.66  151201.    163677.195
 147775.5   157795.5   127246.83  301841.3   136773.2   177357.35
 169055.    176947.5   219648.81  246546.88  170321.5   219627.
 245019.    124124.5   188656.    156619.5   147910.5   260358.13
 142466.5   155854.     70653.    131999.    129421.    137988.
 219619.    114219.5   107349.75  117047.48  134039.19  269266.
 134535.    148825.    173373.22  197272.    177274.31  135782.5
 236765.     86646.    146202.5   164054.5   186620.3   359057.17
 204570.5   112692.     48072.14  321521.76  335519.78  127356.5
 236618.05  692383.03  374963.16  130865.    183353.    136205.
 148272.    122665.    219506.5   195449.72  130926.     76062.52
 132220.    149792.    221355.62  173612.     98203.25  150591.87
 142122.81  140979.5    85431.    136398.    192045.185 142938.39
 276145.05  147447.64  115925.5   140085.    232957.5   314604.92
 521723.52  242680.79  346493.01  107964.08  100438.21  150388.57
 295369.3   150051.5   131320.5   187781.79  123547.    176290.
 169299.87   82434.65  131459.    132372.2   251398.3   153628.74
 277010.38  235136.95  198337.15   82045.    121794.    102835.2
 139118.21  163879.    200418.69  204329.53  194761.96   68672.83
 163413.72  144424.    257506.    177784.3   130978.58  323250.6
 186646.32  133704.    240416.6   139779.37  132151.21  115249.83
 236303.13  146515.37  134466.87  172918.95  209778.    263560.72
 194242.66  141307.87  133215.5   144607.05  137755.5   239874.92
 204963.     83699.    209976.95  150960.5    79760.     81692.5
 167012.5   100907.16   96553.    171093.97  118731.5   143375.
 219428.5   147571.29  198687.16  139042.5   249135.    134942.1
  92488.5   248919.53  192917.22  414174.55  169486.    122662.
 162803.5   175391.8   133220.    113276.    205058.75  165252.35
 141477.5    82729.    154710.41  133379.1   111068.    114811.04
 178992.32  240790.8   389401.26  162496.59  130110.5   255005.5
 299581.36  226808.7   166250.    140776.5   119832.    179267.
 424791.09  186770.    251731.     89390.    115382.5   146473.5
 134269.    307811.07  168024.5   136780.    205562.9    88234.
 193865.63  105308.    291763.62  173825.08  231263.78   98810.23
 254599.06  182992.45  131471.75  117869.98 ]

In [13]:
output = pd.DataFrame({'Id':x_test.index,
                      'SalePrice ':pred})

output.to_csv("submission.csv",index = False)

In [14]:
# Get names of columns with missing values
cols_with_missing = [col for col in x_train.columns
                     if x_train[col].isnull().any()]

In [15]:
# Drop columns in training and validation data
reduced_X_train = x_train.drop(cols_with_missing, axis=1)
reduced_X_valid = x_test.drop(cols_with_missing, axis=1)